/config.json
/deploy-commands.js
/getFromSheet.js
/GsheetTest/G_credentials.json
/G_credentials.json

G_credentials.json
GsheetTest/G_credentials.json

/G_credentials.json
/GsheetTest/G_credentials.json